streamlit==1.38.0
pandas==2.2.2
numpy==1.26.4

geopandas==0.14.4
shapely==2.0.4
pyproj==3.6.1
rtree==1.2.0
pyogrio==0.7.2
# (No instales fiona a menos que sea imprescindible)

folium==0.17.0
streamlit-folium==0.22.0

dropbox==12.0.2
